@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient(to right, #FC8DCA, #C37EDB, #B7A6F6, #88A3E2,#AAECFC );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3e4c6b;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1 {  
color: rgb(202, 47, 202);
text-align: center;
color: rgb(197, 65, 197);
text-shadow: 1px 1px 1px ;
}
h2 {
    color: #0f7f9b;
}
h3 {
    color: #145f72;
}
p {
    text-align: justify;
}